.modal-portal {
  position: absolute;
  left: 0;
  top: 0;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  display: grid;
  grid-template-columns: repeat(16, 5.625vw);
  grid-auto-rows: 5.625vw;
  border-radius: 16px;
  padding: 16px;
  background: white;
  max-width: 1280px;
  max-height: 720px;

  animation: pop 0.5s ease-in-out 1, fadein .2s linear; 
  position: relative;
}

.modal-content {
  grid-column: span 16;
  grid-row: span 9;
  width: 100%;
  max-width: 1280px;
  max-height: 720px;
  height: 100%;
  position: relative;
}

@keyframes pop {
    10% { transform: scale(0.25);}
    50% { transform: scale(1);}
    100% { transform: scale(1);}
}

@keyframes fadein {
    0% { opacity: 0; }  
    100% { opacity: 1; }
}

.modal .banner {
  flex: 1;
  max-height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 32 px;
}

.modal .control {  
  display: flex;
}

.modal .control .warning {
  display: flex;
  align-items: center;
}

.modal .control button {
  margin-right: 16px;
}

@keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.modal .header {
  grid-column: span 16;
  z-index: 2;
  max-width: 1264px;
  background: rgba(255, 255, 255, 0.8);

  padding-left: 16px;
  width: calc(100% - 32px);
  position: absolute;
  height: 42px;
  top: 16px;
}

.modal-close {
  /* close button on the modal */

  position: absolute;
  right: 0;
  top: 4px;
  margin-bottom: 6px;
  background: url(/conflictresolution/images/ui/close.png);
  cursor: pointer;
  height: 100%;
  max-height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.modal-close:before {
  content: '';
  padding-left: 100%;
  display: block;
  width: 32px;
} 
