body {
  margin: 0;
  font-family: Calibri, "Trebuchet MS",Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  background: rgb(81,155,206);
  background: linear-gradient(146deg, rgba(81,155,206,1) 0%, rgba(51,77,128,1) 100%); 
  background-image: linear-gradient(146deg, rgb(81, 155, 206) 0%, rgb(51, 77, 128) 100%);

  height: 100vh;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
}

button {
  font-size: 16pt;
  padding: 8px 16px 10px 16px;
  margin-right: 8px;
  background: #009FE3;
  border: 2px solid #009FE3;
  color: #FFF;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


h1 {
  font-size: 18pt;
}

